<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head-content}"></th:block>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebApplication",
            "name": "CzyZlowie.pl - Kalkulator Brań",
            "url": "https://czyzlowie.pl",
            "description": "Profesjonalna prognoza brań ryb oparta o parametry meteo, hydro, synop i barometr.",
            "applicationCategory": "Narzędzie Wędkarskie",
            "operatingSystem": "All",
            "author": {
                "@type": "Person",
                "name": "Mateusz Kmiec"
            }
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/home-hero.css}">
</head>
<body class="bg-dark">
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <main class="container mt-5 bg-dark">
        <h1>Witaj na łowisku!</h1>
    </main>


    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>